<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.4" targetFramework="net451" />
  <package id="LiveCharts" version="0.6.7.0" targetFramework="net451" />
  <package id="System.Windows.Controls.DataVisualization.Toolkit" version="4.0.0.0" targetFramework="net451" />
  <package id="Toolkit.WPF" version="1.0.5752.30721" targetFramework="net451" />
</packages>